{% extends "dnsgraph/base.html" %}
{% block content %}
  <form action="../{{ query.qtype}}.png" method="GET">
  {% if query.available %}
  <p class="opts">
  In the graph, skip nameservers for <br />
  {% for zone in zones %}
  <input {% if zone == '.' %}checked="checked"{% endif%} type="checkbox" name="skip_{{ zone }}" id="skip_{{ zone }}" /><label for="id_{{ zone }}">{{ zone }}</label><br />
  {% endfor %}
  </p>
  {% endif %}
  {{ query.name }} ({{ query.qtype }}) is {% if query.available %}available <input type="submit" value="Show" />{% else %}being traced <img src="{{ MEDIA_URL }}/spinner.gif" />{% endif %}
  <p>
  {% if query.available %}
  <small>(Data is cached for fifteen minutes)</small>
  {% else %}
  <small>There are currently {{ jobs }} traces in the queue, please be patient.</small>
  {% endif %}
  </p>
  </form>
{% endblock %}
{% block extrahead %}
{% if not query.available %}
<meta http-equiv="refresh" content="5">
{% endif %}
{% endblock %}
